body{
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
}

body,div{
    box-sizing: border-box;
}

.ul-list{
    display: flex;
    width: 60%;
    margin: 0 35%;
}

.item{
    font-family: 'Press Start 2P', sans-serif;
    list-style: none;
    margin: 0 20px;
    font-size: 15px;
    background-color: rgba(223, 209, 209, 0.907);
    padding: 10px;
    border-radius: 10px;
}