body {
    font-family: "Press Start 2P", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.icons{
    display: flex;
    height: 60px;
    width: 200px;
    margin: 1%;
    justify-content: space-evenly;
}
